.users-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.user-form-elements {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;

  mat-form-field {
    flex-grow: 1;
  }
}
