:host {
  width: 80%;
}

.options {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem 0 1rem 0;
}

.no-data {
  display: flex;
  align-items: center;
  justify-content: center;
}
