@if (dataSource().length) {
  <table mat-table [dataSource]="dataSource()">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="surname">
      <th mat-header-cell *matHeaderCellDef>surname</th>
      <td mat-cell *matCellDef="let element">{{ element.surname }}</td>
    </ng-container>

    <ng-container matColumnDef="seniority">
      <th mat-header-cell *matHeaderCellDef>seniority</th>
      <td mat-cell *matCellDef="let element">{{ element.seniority }}</td>
    </ng-container>

    <ng-container matColumnDef="years">
      <th mat-header-cell *matHeaderCellDef>years</th>
      <td mat-cell *matCellDef="let element">{{ element.yearsOfExperience }}</td>
    </ng-container>

    <ng-container matColumnDef="availability">
      <th mat-header-cell *matHeaderCellDef>availability</th>
      <td mat-cell *matCellDef="let element">{{ element.availability }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>actions</th>
      <td class="options" mat-cell *matCellDef="let element">
        <button matMiniFab aria-label="Show details" (click)="showDetails(element.id)">
          <mat-icon>remove_red_eye</mat-icon>
        </button>
        <button matMiniFab aria-label="Edit" (click)="showEdit(element.id)">
          <mat-icon>edit</mat-icon>
        </button>
        <button matMiniFab aria-label="Delete element" (click)="deleteElement(element.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
} @else {
  <div class="no-data">
    <h3>No data yet!</h3>
  </div>
}
